header{
    height: 100px;
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
}
.geral-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.list a{
    margin: 0 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--DarkBlue);

    transition-property: color;
    transition-duration: .3s;
}
.list a:hover{
    color: var(--SoftRed);
}
.list a{
    text-decoration: none;
}
.btn{
    height: 40px;
    width: 130px;
    margin-right: 0;
    margin-left: 25px;
    color: var(--White);
    border: none;
    border-radius: 5px;
    background-color: var(--SoftRed);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 1s;
}
.btn:hover{
    border: 3px solid var(--SoftRed);
    background-color: var(--White);
    color: var(--SoftRed);
}
.hero-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 100px;
}
.hero-part::before{
    content: '';
    width: 540px;
    height: 330px;
    background-color: var(--SoftBlue);
    border-bottom-left-radius: 250px;
    position: absolute;
    top: 300px;
    right: 0;
    z-index: -1;
}
.text-hero{
    color: var(--DarkBlue);
    width: 480px;
}
.text-hero h1{
    font-size: 30pt;
    margin-bottom: 25px;
}
.text-hero p{
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--GrayBlue);
}
.btn-heroB{
    background-color: var(--SoftBlue);
    color: var(--White);
    border: none;
    box-shadow: 0px 5px 10px var(--ShadowBlue);
    margin-right: 10px;

    transition-property: color, background-color;
    transition-duration: 1s;
}
.btn-heroB:hover{
    background-color: transparent;
    color: var(--SoftBlue);
    border: 3px solid var(--SoftBlue);
}
.btn-heroW{
    background-color: hsl(0, 0%, 90%);
    color: var(--DarkBlue);
    border: none;
    box-shadow: 0px 5px 10px var(--GrayBlue);
    margin-left: 10px;

    transition-property: color, background-color;
    transition-duration: 1s;
}
.btn-heroW:hover{
    background-color: transparent;
    color: var(--GrayBlue);
    border: 3px solid var(--GrayBlue);
}
/*!FEATURE PART*/
.flex-text-feat{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.text-feature{
    text-align: center;
    width: 530px;
}
.text-feature h2{
    margin: 10px 0;
    color: var(--DarkBlue
    );
}
.text-feature p{
    line-height: 28px;
    color: var(--GrayBlue);
}
/*?CARROUSEL*/
.feature-tab::before {
    content: '';
    z-index: -1;
    position: absolute;  
    left: 0;
    top: 18rem;  
    border-bottom-right-radius: 250px;
    border-top-right-radius: 250px;
    width: 540px;
    height: 330px; 
    background-color: var(--SoftBlue);
}
.feature-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;       
    width: auto;  
    position: relative; 
    margin-bottom: 8rem; 
}
.feature-tab label {
    padding: 25px;
    border-bottom: 2px solid var(--GrayBlue);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--GrayBlue);
    margin-bottom: 3rem;
}
input[type="radio"]{
    display: none;
}
.label-tab {
    text-align: center;
    display: flex;    
    align-items: center;
    justify-content: center;
}
input[type="radio"]:checked + label + .c-tab{
    display: flex;    
}
input[type="radio"]:checked + label {
    border-bottom: 5px solid var(--SoftRed);
    color: var(--DarkBlue);
}
.feature-tab .c-tab {
    display: none;
    gap: 3rem; 
    align-items: center;
    justify-content: center;
    margin: 3rem 8%; 
    order: 1;     
    height: auto;
    width: auto;     
}
.t-tab h2{
    color: var(--DarkBlue);
    margin-bottom: 25px;
}
.t-tab p{
    margin-bottom: 25px;
    margin-top: 25px;
    color: var(--GrayBlue);
    line-height: 28px;
}